<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Pryvo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show you matches nearby and calculate distances.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need your location to show you matches nearby and calculate distances.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to take photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your gallery to select photos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save photos and videos to your library.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>MonaSans-ExtraLightItalic.ttf</string>
		<string>MonaSans-SemiBoldItalic.ttf</string>
		<string>MonaSans-BoldItalic.ttf</string>
		<string>MonaSans_Condensed-LightItalic.ttf</string>
		<string>MonaSans_SemiExpanded-MediumItalic.ttf</string>
		<string>MonaSans_Condensed-Medium.ttf</string>
		<string>MonaSans_Expanded-ExtraBoldItalic.ttf</string>
		<string>MonaSans_SemiCondensed-Light.ttf</string>
		<string>MonaSans-ExtraLight.ttf</string>
		<string>MonaSans_SemiExpanded-SemiBoldItalic.ttf</string>
		<string>MonaSans_Condensed-ExtraBold.ttf</string>
		<string>MonaSans_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>MonaSans-ExtraBoldItalic.ttf</string>
		<string>MonaSans_SemiExpanded-Medium.ttf</string>
		<string>MonaSans-Regular.ttf</string>
		<string>MonaSans-Black.ttf</string>
		<string>MonaSans_SemiExpanded-BoldItalic.ttf</string>
		<string>MonaSans_Condensed-MediumItalic.ttf</string>
		<string>MonaSans_SemiCondensed-Medium.ttf</string>
		<string>MonaSans_SemiExpanded-ExtraLight.ttf</string>
		<string>MonaSans_SemiExpanded-ExtraBold.ttf</string>
		<string>MonaSans_SemiExpanded-BlackItalic.ttf</string>
		<string>MonaSans_SemiExpanded-Black.ttf</string>
		<string>MonaSans_Expanded-Bold.ttf</string>
		<string>MonaSans_SemiCondensed-ExtraLight.ttf</string>
		<string>MonaSans_SemiCondensed-Regular.ttf</string>
		<string>MonaSans_SemiExpanded-ExtraBoldItalic.ttf</string>
		<string>MonaSans_SemiCondensed-BoldItalic.ttf</string>
		<string>MonaSans_Expanded-Light.ttf</string>
		<string>MonaSans_SemiExpanded-LightItalic.ttf</string>
		<string>MonaSans_Condensed-Black.ttf</string>
		<string>MonaSans_Expanded-Italic.ttf</string>
		<string>MonaSans_Condensed-SemiBold.ttf</string>
		<string>MonaSans_SemiExpanded-ExtraLightItalic.ttf</string>
		<string>MonaSans_Condensed-BlackItalic.ttf</string>
		<string>MonaSans_SemiExpanded-SemiBold.ttf</string>
		<string>MonaSans-Medium.ttf</string>
		<string>MonaSans_SemiCondensed-Bold.ttf</string>
		<string>MonaSans_Condensed-ExtraLightItalic.ttf</string>
		<string>MonaSans_SemiExpanded-Bold.ttf</string>
		<string>MonaSans_Condensed-ExtraBoldItalic.ttf</string>
		<string>MonaSans_Condensed-Light.ttf</string>
		<string>MonaSans-LightItalic.ttf</string>
		<string>MonaSans_Expanded-SemiBold.ttf</string>
		<string>MonaSans-ExtraBold.ttf</string>
		<string>MonaSans_SemiCondensed-ExtraLightItalic.ttf</string>
		<string>MonaSans_Condensed-Regular.ttf</string>
		<string>MonaSans-Italic.ttf</string>
		<string>MonaSans_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>MonaSans_Expanded-BlackItalic.ttf</string>
		<string>MonaSans_Expanded-Black.ttf</string>
		<string>MonaSans_SemiCondensed-SemiBold.ttf</string>
		<string>MonaSans_SemiCondensed-BlackItalic.ttf</string>
		<string>MonaSans_Expanded-Medium.ttf</string>
		<string>MonaSans-Bold.ttf</string>
		<string>MonaSans-Light.ttf</string>
		<string>MonaSans_Condensed-Italic.ttf</string>
		<string>MonaSans_Condensed-ExtraLight.ttf</string>
		<string>MonaSans-MediumItalic.ttf</string>
		<string>MonaSans-SemiBold.ttf</string>
		<string>MonaSans_SemiExpanded-Regular.ttf</string>
		<string>MonaSans_SemiExpanded-Light.ttf</string>
		<string>MonaSans_Expanded-LightItalic.ttf</string>
		<string>MonaSans_SemiCondensed-ExtraBold.ttf</string>
		<string>MonaSans_Expanded-ExtraLightItalic.ttf</string>
		<string>MonaSans_Expanded-SemiBoldItalic.ttf</string>
		<string>MonaSans_Expanded-MediumItalic.ttf</string>
		<string>MonaSans_SemiCondensed-LightItalic.ttf</string>
		<string>MonaSans_Condensed-BoldItalic.ttf</string>
		<string>MonaSans_SemiCondensed-Italic.ttf</string>
		<string>MonaSans_Expanded-ExtraBold.ttf</string>
		<string>MonaSans_Expanded-BoldItalic.ttf</string>
		<string>MonaSans_Condensed-SemiBoldItalic.ttf</string>
		<string>MonaSans_SemiExpanded-Italic.ttf</string>
		<string>MonaSans_Condensed-Bold.ttf</string>
		<string>MonaSans_SemiCondensed-MediumItalic.ttf</string>
		<string>MonaSans_Expanded-Regular.ttf</string>
		<string>MonaSans_Expanded-ExtraLight.ttf</string>
		<string>MonaSans-BlackItalic.ttf</string>
		<string>MonaSans_SemiCondensed-Black.ttf</string>
	</array>
</dict>
</plist>
